.card {
  width: 320px;
  height: 390px;
  border-radius: 26px;
  background: #102840;
  border: 3px solid #bc9060;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-family: "Roboto";
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  color: #bc9060;
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 40px;
}

.cardImage {
  width: 186px;
  height: 182px;
  margin-top: -29px;
  position: relative;
  /* background: url(...); */
}

.badge {
  width: 26px;
  height: 26px;
  background: #bc9060;
  color: white;
  font-size: 14px;
  border-radius: 50%;
  position: absolute;
  right: 16px;
  top: 16px;
}

.buildingName {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  color: #bc9060;
  margin-top: -16px;
}

.resources {
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: "Roboto";
  font-size: 14px;
  text-align: left;
  color: #bc9060;
  margin-top: -5px;
  margin-bottom: 0px;
  text-align: center;
}

.resourcesBack {
  height: 50px;
}

.resourceName {
  font-size: 12px;
  color: #6f879f;
  margin-bottom: 0px
}

.resourceIcon {
  height: 20px;
  width: 20px;
  margin-left: 5px;
}

.resourcesLeft {
  font-weight: normal;
  font-size: 16px;
  color: #9b8670da;
  margin-top: -16px;
  text-transform: capitalize;
  font-weight: 550;
  font-family: "Roboto"
}

.levelup{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 248px;
  height: 40px;
  border-radius: 12px;
  background: transparent;
  border: 2px solid #bc9060;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 36px;
}

.levelupIconDiv:hover {
  background: #bc9060;
  color: white;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.disabledLevelupIconDiv:hover {
  background: #67879f;
  color: white;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1)
}

.levelupText {
  font-size: 16px;
  margin-top: 5px;
}

.levelupIconDiv {
  height: 30px;
  width: 30px;
  margin-left: 25px;
  cursor: pointer;
  border-radius: 20px;
  vertical-align: middle;
  justify-content: center;
  margin-top: 2px;
}

.disabledLevelupIconDiv {
  height: 30px;
  width: 30px;
  margin-left: 25px;
  cursor: pointer;
  border-radius: 20px;
  vertical-align: middle;
  justify-content: center;
  margin-top: 2px;
}

.minus {
  font-size: 18px;
  margin-top: 5px;
}

.disabledMinus {
  font-size: 18px;
  margin-top: 5px;
  cursor: not-allowed;
}

.plus {
  font-size: 18px;
  margin-top: 5px;
}

.disabledPlus {
  font-size: 18px;
  margin-top: 5px;
  cursor: not-allowed;
}

.cardGrid {
  max-width: 1366px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
