.header {
  background: #bc9060;
  position:fixed;
    width: 100%;
    padding: 10px;
    z-index: 100;
    transition: 0.8s cubic-bezier(0.02, 0.8, 0.2, 1);
}

.navDiv {
  display: flex;
}

.gameLogo {
  font-size: 16px;
  color: white;
  margin: auto;
  margin-left: 16px;
}

.rightSideNav {
  color: white;
  text-decoration: none;
  right: 16px;
}
