.header {
  background: #050D18;
    width: 100%;
    transition: 0.8s cubic-bezier(0.02, 0.8, 0.2, 1);
    height: 40px;
    border-bottom: 3px solid #bc9060;
    text-align: center;
}

.navDiv {
  display: flex;
}

.header img {
  color: white;
  justify-content: center;
  margin-bottom: 8px;
  margin-top: 8px;
  height: 18px;
}

.rightSideNav {
  color: white;
  text-decoration: none;
  right: 16px;
}
