.header {
  background: #bc9060;
  padding: 0;
  margin: 0 auto;
  height: 30px;
  width: 100%;
}

.navDiv {
  display: flex;
}

.gameLogo {
  font-size: 16px;
  color: white;
  margin: auto;
  margin-left: 16px;
}

.rightSideNav {
  color: white;
  text-decoration: none;
  right: 16px;
}
