.item {
  width: 320px;
  height: 50px;
  border-radius: 26px;
  background: #102840;
  border: 2px solid #bc9060;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-family: "Roboto";
  font-weight: bold;
  font-size: 24px;
  color: #bc9060;
  position: relative;
  margin-left: 8px;
  margin-top: 10px;
}

.itemImage {
  width: 30px;
  height: 30px;
	margin-top: 7px;
	margin-left: 50px;
  position: relative;
}

.itemBadge {
  width: 26px;
  height: 26px;
  background: #bc9060;
  color: white;
  font-size: 14px;
  border-radius: 50%;
  position: absolute;
  left: 16px;
	top: 9px;
	text-align: center;
}

.itemBuildingName {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 12px;
  color: #bc9060;
	margin-top: -65px;
	margin-left: 85px;
	position: relative;
}

.itemResources {
  font-size: 12px;
	color: #bc9060;
  margin-top: -20px;
	margin-left: 85px;
}

.itemResourceName {
  font-size: 12px;
  color: #6f879f;
	margin-bottom: 12px;
	margin-top: -15px;
	margin-left: 43px;
}

.itemLevelupIconDiv {
  height: 30px;
  width: 30px;
  cursor: pointer;
	margin-top: 2px;
  font-size: 18px;
	margin-top: -60px;
	margin-left: 275px;
}

.done:hover {
  filter: none
}

.done {
  font-size: 18px;
  filter: grayscale()
}

.itemGrid {
  max-width: 1366px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
